.body_main{
    background-color: black;
    margin-top: 200px;
}

.notice_main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    margin-bottom: 200px;
}

.title_notice{
    color: white;
    font-size: 44px;
    text-align: center;
    margin-bottom: 100px;
}

.board{
    width: 100%;
    border-collapse: separate;
    border-spacing: 12px 12px;
}

.board_th, .board_tr{
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.board_th{
    /* background-color: #f4f4f4; */
    color: #555;
    font-weight: bold;
    font-size: 22px;
}

.board_content {
    white-space: nowrap;
    text-align: center;
    max-width: 350px; /* 원하는 최대 너비 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.board_a{
    color: black;
    text-decoration: none;
}

.board_a:hover{
    color: blue;
    background-color: #f1f1f1;
}

.board_index{
    display: flex;
    justify-content: end;
}

.page{
    text-align: center;
    margin-top: 20px;
}


.page button{
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 24px;
    color: black;
    padding: 10px 20px;
    margin: 0px;
    cursor: pointer;
    border-radius: 10px;
}

.page button:hover {
    background-color: white;
}

.board_tr{
    cursor: pointer;
}

.board_content{
    padding: 20px;
}

.answer{
    display: none;
    /* visibility: hidden; */
    /* transition: all 0.3s; */
    max-width: 500px;
}

.answer td{
    padding: 20px;
    /* background-color: black; */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}