<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>박람회 행사장 안내</title>

    <link rel="shortcut icon" href="images/logo.webp" type="image/x-icon"/>
    <meta property="og:title" content="박람회 행사장 안내"/>
    <meta property="og:type" content="website"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/guide/guide.css"/>
    <script src="js/script.js" defer></script>
</head>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>

<main>
    <section class="partner-apply">
        <a href="#" class="btn">신청하기</a>
    </section>
    <section id="about" class="section max-container">
        <div class="title">
            <h2 class="title_waytocome">Partners</h2>
        </div>

        <div class="partner-grid">
            <div class="supporters"><img src="images/supporters/google.jpg"></div>
            <div class="supporters"><img src="images/supporters/naver.jpg"></div>
            <div class="supporters"><img src="images/supporters/amazon.jpg"></div>
            <div class="supporters"><img src="images/supporters/wku.jpg"></div>
            <div class="supporters"><img src="images/supporters/apple.png"></div>
            <div class="supporters"><img src="images/supporters/samsung.png"></div>
            <div class="supporters"><img src="images/supporters/burgerking.png"></div>
            <div class="supporters"><img src="images/supporters/coca.jpg"></div>
            <div class="supporters"><img src="images/supporters/mcdonald.png"></div>
            <div class="supporters"><img src="images/supporters/nabba.png"></div>
            <div class="supporters"><img src="images/supporters/pepsi.png"></div>
            <div class="supporters"><img src="images/supporters/tesla.png"></div>
            <div class="supporters"><img src="images/supporters/x.webp"></div>
            <div class="supporters"><img src="images/supporters/01.webp"></div>
            <div class="supporters"><img src="images/supporters/02.png"></div>
            <div class="supporters"><img src="images/supporters/03.webp"></div>
            <div class="supporters"><img src="images/supporters/04.png"></div>
            <div class="supporters"><img src="images/supporters/05.webp"></div>
            <div class="supporters"><img src="images/supporters/06.webp"></div>
            <div class="supporters"><img src="images/supporters/07.webp"></div>
            <div class="supporters"><img src="images/supporters/08.webp"></div>
            <div class="supporters"><img src="images/supporters/09.webp"></div>
            <div class="supporters"><img src="images/supporters/10.png"></div>
            <div class="supporters"><img src="images/supporters/11.png"></div>
            <div class="supporters"><img src="images/supporters/12.webp"></div>
            <div class="supporters"><img src="images/supporters/13.png"></div>
            <div class="supporters"><img src="images/supporters/14.png"></div>
            <div class="supporters"><img src="images/supporters/15.png"></div>
            <div class="supporters"><img src="images/supporters/16.png"></div>
            <div class="supporters"><img src="images/supporters/17.png"></div>
            <div class="supporters"><img src="images/supporters/18.webp"></div>
            <div class="supporters"><img src="images/supporters/19.png"></div>
            <div class="supporters"><img src="images/supporters/20.png"></div>
            <div class="supporters"><img src="images/supporters/21.png"></div>
            <div class="supporters"><img src="images/supporters/22.webp"></div>
            <div class="supporters"><img src="images/supporters/23.png"></div>
        </div>
    </section>

    <section class="partner-benefits">
        <h2>파트너스 혜택</h2>
        <ul>
            <li>특별 가격 혜택</li>
            <li>상품 프로모션</li>
            <li>전용 이벤트</li>
            <li>마케팅 지원</li>
            <!-- 필요한 만큼 혜택을 추가하세요 -->
        </ul>
    </section>
</main>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>
