<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>박람회 행사장 안내</title>

    <link rel="shortcut icon" href="images/logo.webp" type="image/x-icon"/>
    <meta property="og:title" content="박람회 행사장 안내"/>
    <meta property="og:type" content="website"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/guide/guide.css"/>
    <script src="js/script.js" defer></script>
</head>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>

<main>
    <section class="partner-apply">
        <h2>파트너스 신청</h2>
        <a href="#" class="btn">신청하기</a>
    </section>
    <section id="about" class="section max-container">
        <div class="title">
            <h2 class="title_waytocome">Partners</h2>
        </div>

        <div class="row">
            <div class="surpporters">
                <img src="images/supporters/google.jpg">
                <h3>GOOGLE</h3>
                <p>
                    현재 전 세계에서 가장 큰 인터넷 기업 중 하나이자 인터넷 관련 서비스와 제품을 전문으로 하는 미국의 다국적 기술 기업이다.
                    세계에서 가장 많이 방문하는 웹사이트 '구글닷컴(Google.com)'을 운영한다.
                </p>
            </div>


            <div class="surpporters">
                <img src="images/supporters/naver.jpg">
                <h3>Naver</h3>
                <p>
                    1999년 6월에 설립된 대한민국 대표 인터넷 회사.
                    인터넷 포털 '네이버(NAVER)'와 글로벌 모바일 메신저 '라인(LINE)' 등을 운영하는 글로벌 기업이다.
                </p>
            </div>
            <div class="surpporters">
                <img src="images/supporters/amazon.jpg">
                <h3>Amazon</h3>
                <p>
                    제프 베조스가 1994년 시애틀에 설립한 미국의 전자상거래를 기반으로 한 IT 기업.
                    도서를 비롯하여 다양한 상품은 물론 전자책, 태블릿 PC를 제조 판매하며, 기업형 클라우드 서비스도 제공하고 있다.
                </p>
            </div>
            <div class="surpporters">
                <img src="images/supporters/wonkang uni.jpg">
                <h3>원광대학교</h3>
                <p>
                    원광대학교(圓光大學校, Wonkwang University)는 대한민국 전북특별자치도 익산시에 위치한 사립 종합대학이다.
                    원불교 개교정신인 '물질이 개벽되니 정신을 개벽하자'를 바탕으로 과학과 도학을 겸비한 전인교육으로
                    새 문명사회 건설의 주역 양성을 건학이념으로 설립되었다.
                </p>
            </div>
            <div class="surpporters">
                <img src="images/supporters/apple.png">
                <h3>Apple</h3>
                <p>
                    애플은 1976년 스티브 잡스, 스티브 워즈니악, 론 웨인에 의해 창립된 미국의 기술 기업으로,
                    혁신적인 제품과 디자인으로 세계적으로 유명해졌으며, 컴퓨터, 스마트폰, 태블릿, 웨어러블 기기, 소프트웨어 등을 개발하고 제조한다.
                </p>
            </div>
            <div class="surpporters">
                <img src="images/supporters/samsung.png">
                <h3>삼성</h3>
                <p>
                    삼성은 1938년 이건희 회장에 의해 창립된 대한민국의 대표적인 다국적 기업 중 하나로,
                    지속적으로 성장하여 세계적인 기업으로 발전하였으며, 전자제품, 반도체, 통신 기술, 디스플레이 등 다양한 분야에서 활동하고 있다.
                </p>
            </div>
        </div>
    </section>
    </section>

    <section class="partner-benefits">
        <h2>파트너스 혜택</h2>
        <ul>
            <li>특별 가격 혜택</li>
            <li>상품 프로모션</li>
            <li>전용 이벤트</li>
            <li>마케팅 지원</li>
            <!-- 필요한 만큼 혜택을 추가하세요 -->
        </ul>
    </section>
</main>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>



