<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/notice/notice.css">
    <link rel="shortcut icon" href="images/logo.webp" type="image/x-icon">
    <script src="src/header_footer.js"></script>
    <title>공지사항</title>
</head>

<body class="body_main">
<th:block th:replace="~{fragments/header :: header}"></th:block>
<h1 class="title_notice">자주 묻는 질문</h1>
<main class="notice_main">
    <div class="container">
        <table class="board">
            <tr>
                <th class="board_th">번호</th>
                <th class="board_th">제목</th>
                <th class="board_th">글쓴이</th>
                <th class="board_th">일시</th>
                <th class="board_th">조회수</th>
            </tr>
            <tr class="board_tr">
                <td class="board_content">10</td>
                <td class="board_content">[공고] 2024년 제 3기 전시산업 영 서포터즈 모집 공고</td>
                <td class="board_content">관리자</td>
                <td class="board_content">2024-05-25</td>
                <td class="board_content">32</td>
            </tr>
            <tr class="answer">
                <td colspan="5">참가기업 페이지 로그인 후, 온라인 출품 신청 하시면 됩니다.
                    계정이 없는 기업은 회원가입 후 진행 해주시고, 계정 문의는 사무국으로 연락 주시기 바랍니다. (T. 02-6121-6363)
                </td>
            </tr>
            <tr class="board_tr">
                <td class="board_content">9</td>
                <td class="board_content">[안내] 2024년도 6월 「전시 사업자」 교육 안내 (개설 과정 추가)</td>
                <td class="board_content">관리자</td>
                <td class="board_content">2024-05-21</td>
                <td class="board_content">60</td>
            </tr>
            <tr class="answer">
                <td colspan="5">참가기업 페이지 로그인 후, 온라인 출품 신청 하시면 됩니다.
                    계정이 없는 기업은 회원가입 후 진행 해주시고, 계정 문의는 사무국으로 연락 주시기 바랍니다. (T. 02-6121-6363)
                </td>
            </tr>
            <tr class="board_tr">
                <td class="board_content">8</td>
                <td class="board_content">서울시 소상공인 온라인 판로개척 지원사업 참여기업 모집</td>
                <td class="board_content">관리자</td>
                <td class="board_content">2024-05-20</td>
                <td class="board_content">121</td>
            </tr>
            <tr class="answer">
                <td colspan="5">참가기업 페이지 로그인 후, 온라인 출품 신청 하시면 됩니다.
                    계정이 없는 기업은 회원가입 후 진행 해주시고, 계정 문의는 사무국으로 연락 주시기 바랍니다. (T. 02-6121-6363)
                </td>
            </tr>
            <tr class="board_tr">
                <td class="board_content">7</td>
                <td class="board_content">[채용공고] 한국전시산업진흥회 2024년 신입직원(2차) 채용 공고</td>
                <td class="board_content">관리자</td>
                <td class="board_content">2024-05-20</td>
                <td class="board_content">123</td>
            </tr>
            <tr class="answer">
                <td colspan="5">참가기업 페이지 로그인 후, 온라인 출품 신청 하시면 됩니다.
                    계정이 없는 기업은 회원가입 후 진행 해주시고, 계정 문의는 사무국으로 연락 주시기 바랍니다. (T. 02-6121-6363)
                </td>
            </tr>
            <tr class="board_tr">
                <td class="board_content">6</td>
                <td class="board_content">[안내] 전시산업통계 특수분류 제정 알림</td>
                <td class="board_content">관리자</td>
                <td class="board_content">2024-05-19</td>
                <td class="board_content">94</td>
            </tr>
            <tr class="answer">
                <td colspan="5">참가기업 페이지 로그인 후, 온라인 출품 신청 하시면 됩니다.
                    계정이 없는 기업은 회원가입 후 진행 해주시고, 계정 문의는 사무국으로 연락 주시기 바랍니다. (T. 02-6121-6363)
                </td>
            </tr>
            <tr class="board_tr">
                <td class="board_content">5</td>
                <td class="board_content">[안내] 2023 국내전시산업통계 공표예정일 안내</td>
                <td class="board_content">관리자</td>
                <td class="board_content">2024-05-12</td>
                <td class="board_content">137</td>
            </tr>
            <tr class="answer">
                <td colspan="5">참가기업 페이지 로그인 후, 온라인 출품 신청 하시면 됩니다.
                    계정이 없는 기업은 회원가입 후 진행 해주시고, 계정 문의는 사무국으로 연락 주시기 바랍니다. (T. 02-6121-6363)
                </td>
            </tr>
            <tr class="board_tr">
                <td class="board_content">4</td>
                <td class="board_content">[안내] 2024년도 6월「전시 사업자」교육 안내</td>
                <td class="board_content">관리자</td>
                <td class="board_content">2024-05-10</td>
                <td class="board_content">207</td>
            </tr>
            <tr class="answer">
                <td colspan="5">참가기업 페이지 로그인 후, 온라인 출품 신청 하시면 됩니다.
                    계정이 없는 기업은 회원가입 후 진행 해주시고, 계정 문의는 사무국으로 연락 주시기 바랍니다. (T. 02-6121-6363)
                </td>
            </tr>
            <tr class="board_tr">
                <td class="board_content">3</td>
                <td class="board_content">[공고] 2024년 국내전시회 개최지원 대상사업 선정계획 공고</td>
                <td class="board_content">관리자</td>
                <td class="board_content">2024-05-12</td>
                <td class="board_content">210</td>
            </tr>
            <tr class="answer">
                <td colspan="5">참가기업 페이지 로그인 후, 온라인 출품 신청 하시면 됩니다.
                    계정이 없는 기업은 회원가입 후 진행 해주시고, 계정 문의는 사무국으로 연락 주시기 바랍니다. (T. 02-6121-6363)
                </td>
            </tr>
            <tr class="board_tr">
                <td class="board_content">2</td>
                <td class="board_content">[안내] 2022년 전시산업 통계조사 결과 공표</td>
                <td class="board_content">관리자</td>
                <td class="board_content">2024-05-08</td>
                <td class="board_content">194</td>
            </tr>
            <tr class="answer">
                <td colspan="5">참가기업 페이지 로그인 후, 온라인 출품 신청 하시면 됩니다.
                    계정이 없는 기업은 회원가입 후 진행 해주시고, 계정 문의는 사무국으로 연락 주시기 바랍니다. (T. 02-6121-6363)
                </td>
            </tr>
            <tr class="board_tr">
                <td class="board_content">1</td>
                <td class="board_content">[안내] 전시 전문 재직자 교육 외부 강사 발굴 안내</td>
                <td class="board_content">관리자</td>
                <td class="board_content">2024-05-07</td>
                <td class="board_content">345</td>
            </tr>
            <tr class="answer">
                <td colspan="5">참가기업 페이지 로그인 후, 온라인 출품 신청 하시면 됩니다.
                    계정이 없는 기업은 회원가입 후 진행 해주시고, 계정 문의는 사무국으로 연락 주시기 바랍니다. (T. 02-6121-6363)
                </td>
            </tr>
        </table>
        <div class="board_index">
            <div class="page">
                <button>&lt;</button>
                <button>&gt;</button>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{fragments/footer :: footer}"></th:block>

<script>
    const faqItems = document.querySelectorAll('.board_tr');

    faqItems.forEach(item => {
        const questions = item.querySelectorAll('.board_content');
        questions.forEach(question => {
            question.addEventListener('click', () => {
                const answer = item.nextElementSibling;
                if (answer && answer.classList.contains('answer')) {
                    answer.style.display = answer.style.display === 'table-row' ? 'none' : 'table-row';
                }
            });
        });
    });
</script>
</body>