<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/login/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <th:block th:replace="~{fragments/header :: header}">  </th:block>
    <section>
        <div class="wrapper">
            <form action="">
                <h1>로그인</h1>
                <div class="input_wrapper">
                    <input type="text" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input_wrapper">
                    <input type="password" required>
                    <i class='bx bxs-lock-alt' ></i>
                </div>
                <button type="submit" class="login_btn">로그인</button>
                <a href="/signup">회원가입</a>
            </form>
        </div>
    </section>
    <th:block th:replace="~{fragments/footer :: footer}">  </th:block>
</body>
</html>