<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보</title>
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/login/mypage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <th:block th:replace="~{fragments/header :: header}">  </th:block>
    <section>
        <div class="index">
            <h1>내 정보</h1>
            <ol>
                <br>
                <li>
                    <a href="">내 정보</a>
                </li>
                <br>
                <li>
                    <a href="">내 정보 수정</a>
                </li>
                <br>
                <li>
                    <a href="">감자 포인트</a>
                </li>
                <br>
                <li>
                    <a href="">회원탈퇴</a>
                </li>
                <br>
            </ol>
        </div>
        <div class="wrapper">
            <h1>내 정보</h1>
            <h2>이름 : </h2>
            <h2>나이 : </h2>
            <h2>성별 : </h2>
        </div>
    </section>
    <th:block th:replace="~{fragments/footer :: footer}">  </th:block>
</body>
</html>