<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/footer.css" />
</head>
<body>
<footer id="contact" class="section">
    <div class="max-container">
        <img src="images/logo.png" class="right-image" width="200" height="200" alt="Team">
        <h2 class="title_footer">Everything ' Potato</h2>
        <p class="description">Team building 2024.03.14</p>
        <p>ⓒpotato - All rights reserved</p>
        <p>서울특별시 강남구 테헤란로538 1880, 5217호(삼성동)</p>
        <br>
        <p>Tel. 02-063-0711&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fex. 063-2711&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail. teampotato01@wku.ac.kr</p>
        <p>Copyrights Potato All rights Reserved</p>
    </div>
</footer>
</body>
</html>
