<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<head>
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/footer.css" />
</head>
<body>
<footer id="contact" class="section">
    <div class="max-container">
        <h2 class="title">About &#39; potato</h2>
        <p class="description">Team building 2024.03.14</p>
        <p>ⓒpotato - All rights reserved</p>
    </div>
</footer>
</body>
</html>