/* Footer */
#contact {
    background-color: var(--color-primary);
    color: var(--color-text);
}

.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}

.title_footer {
    color: var(--color-blue);
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
